@using Repository.Entities
@model Notlar
@{
    ViewData["Title"] = "EditNotlar";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<form asp-action="EditNotlar" asp-controller="Notlar" method="post" enctype="multipart/form-data" class="align-content-lg-stretch">
    
      @*  <div class="card-header">
            <h3> Notlar @ViewBag.Durum</h3>
        </div>*@
    <div class="card-body position-relative bg-light">
        <div class="row">
            <input asp-for="@Model.Id" class="form-control" type="hidden" />
            <input asp-for="@Model.RowOrder" class="form-control" type="hidden" />
            <input asp-for="@Model.UpdatedAt" class="form-control" type="hidden" />
            <input asp-for="@Model.UpdatedBy" class="form-control" type="hidden" />
            <input asp-for="@Model.CreatedBy" class="form-control" type="hidden" />
            <input asp-for="@Model.CreatedAt" class="form-control" type="hidden" />
            <input asp-for="@Model.IsActive" type="hidden" class="form-control" />
            <div class="row">
                <div class="col-12">
                    <label class="form-label">Ders</label>
                    <input asp-for="@Model.Ders" class="form-control" class="form-control" type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label class="form-label">İsim</label>
                    <input asp-for="@Model.İsim" class="form-control" type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label class="form-label">Soyadı</label>
                    <input asp-for="@Model.Soyadı" class="form-control" type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label class="form-label">Vize</label>
                    <input asp-for="@Model.Vize" class="form-control" type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label class="form-label">Final</label>
                    <input asp-for="@Model.Final" class="form-control" type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label class="form-label">Bütünleme</label>
                    <input asp-for="@Model.Bütünleme" class="form-control" type="text" />
                </div>
            </div>
        </div>

    </div>
    
        <div class="card-footer">
            <div class="mb-3 float-lg-right">
                <button class="btn btn-primary btn-block mt-3" type="submit" value="Save">Kaydet</button>
            </div>
        </div>
   
</form>





