@using Repository.Entities
@model List<Notlar>
@{
    ViewData["Title"] = "ListNotlar";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="card mb-3">
    <div class="card-header">
        <h5 class="mb-0">Not Alan öğrenci listemiz</h5>
    </div>
    <!--/.bg-holder-->
    <div class="card-body  bg-light">
        <div class="row">
            <div>
                <table id="myTable" class="table table-striped  fs--1">
                    <thead class="bg-200">
                        <tr>
                            <th>Oluşturlma Zamanı</th>
                            <th>Ders</th>
                            <th>İsim</th>
                            <th>Soyisim</th>
                            <th>Vize</th>
                            <th>Final</th>
                            <th>Bütünleme</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CreatedAt</td>
                                <td>@item.Ders</td>
                                <td>@item.İsim</td>
                                <td>@item.Soyadı</td>
                                <td>@item.Vize</td>
                                <td>@item.Final</td>
                                <td>@item.Bütünleme</td>
                                <td>
                                    <a class="btn btn-outline-danger" asp-action="EditNotlar" asp-controller="Notlar" asp-route-id="@item.Id">Güncelle</a>
                                    <a class="btn btn-outline-info" asp-action="DeleteNotlar" asp-controller="Notlar" asp-route-id="@item.Id">Sil</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


